@charset "UTF-8";
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


h1 {
color:rgb(150,70,230);
text-align:center;
background-color: rgb(250,210,250);
padding: 2rem;
}
table {
	border-collapse: collapse;
	width:80%;
	margin:30px auto;
}
td,th{
	border:1px solid green;
	padding:5px
}	
