@charset "UTF-8";
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


h1 {
color:red;
text-align:center;
background-color: balck;
padding: 2rem;
}
table {
	border-collapse: collapse;
	width:80%;
	margin:30px auto;
}
td,th{
	border:1px solid red;
	padding:5px;
	color:red;
}	
